.header {
    padding: 1.5rem 2rem;
    background-color: rgba(18, 18, 18, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.header > * {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header > :first-child {
    justify-content: flex-start;
}

.header > :last-child {
    justify-content: flex-end;
}

.header .logo {
    display: flex;
    align-items: center;
}
.header .logoImage {
    width: 220px;  /* 이미지 크기 조정 */
    height: auto;
    margin-right: 10px;  /* 로고와 비주얼라이저 사이 간격 */
}

/* .logo::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 30px;
    height: 3px;
    background: var(--primary);
    border-radius: 3px;
} 로고에 초록색 밑줄인데 왜있는지모르겠어서 주석해놓음 */

.header .nav {
    display: flex;
    justify-content: center;
}

.header .navList {
    display: flex;
    list-style: none;
    align-items: center;
    padding: 0;
    margin: 0;
}

.navItem {
    margin: 0 1rem;
    flex: 0 0 auto;
}

.navItem button {
    display: block;
    width: 6rem;
    padding: 0.5rem 0.2rem;
    text-align: center;
    font-size: 0.91rem;
    white-space: nowrap;
    background-color: black;
    color: var(--light);
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    transition: background-color 0.3s, transform 0.2s;
}

.navItem button:hover {
    background-color: rgb(110, 110, 110);
    transform: translateY(-2px);
}

.profileImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 1rem;
}

.userText {
    color: var(--light);
}