/* Header.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    height: 100%; /* 헤더 높이 고정 */
    width: 100%; /* 헤더 너비 100% */
}


.logo {
    width: 260px; /* 로고 크기 조정 */
    height: auto;
    margin-left: 20px; /* 좌측 상단으로 이동 */
   
}

.nav {
    display: flex;
    align-items: center;
    margin-right: 20px; /* 우측 상단으로 이동 */
}

.nav ul {
    display: flex;
}

.nav li {
    margin-left: 15px; /* 버튼 간격 조정 */
}

.nav a {
    font-size: 1.1rem;
    font-weight: 600;
    padding: 10px 20px; /* 버튼 크기 조정 */
    border-radius: 20px;
    background-color: rgb(28, 28, 140); /* 버튼 배경 흰색 */
    color: #ffffff; /* 버튼 텍스트 색상 */
    transition: background-color 0.2s ease, color 0.2s ease;
    margin-top: 40px;
}

.nav a:hover {
    background-color: #0092e0;
    color: white;
}

.section_midnight{
    background-color: rgb(28, 28, 140);
    width: 1920px;
    height: 35px;
    margin-top: 10px;
  }