/* Home.css */


/* 
.logo {
    font-size: 2.5rem;
    font-weight: bold;
    color: #1db954;
} */
/* 
.nav ul {
    display: flex;
} */
/* 
.nav li {
    margin-left: 25px;
} */

.nav a {
    font-size: 1.1rem;
    font-weight: 600;
    padding: 8px 15px;
    border-radius: 20px;
    transition: background-color 0.2s ease, color 0.2s ease;
    
}

.nav a:hover {
    background-color:#0092e0;
    color: white;
}

.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url('https://cdn.pixabay.com/photo/2022/06/21/21/15/audio-7276511_1280.jpg') center/cover no-repeat;
    min-height: 828px;
    width: 100%;
    display: flex;

    text-align: center;
    padding: 50px 20px;
    position: relative;

     /*padding: 100px 20px 50px; 헤더 높이만큼 추가 */
    display: flex;               /* Flexbox를 사용 */
    justify-content: center;     /* 가로 중앙 정렬 */
    align-items: center;         /* 세로 중앙 정렬 */
    
}

.hero-content {
    max-width: 800px;
    z-index: 1;
    
}

.hero h1 {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);

}



.hero p {
    font-size: 1.4rem;
    margin-bottom: 30px;
    color: #ddd;
    
}

.hero-button1{
    display: inline-block;
    color: white;
    background-color: rgb(28, 28, 140);
    padding: 15px 35px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 30px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-top: 180px;

}

.hero-button2{
    display: inline-block;
    color: white;
    background-color:rgb(28, 28, 140);
    padding: 15px 35px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 30px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-top: 180px;
    margin-left: 100px;
}

.hero-button:hover,.hero-button1:hover,.hero-button2:hover {
    background-color: #0092e0;
    transform: translateY(-2px);
}