/* 로그인 컨테이너 */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #222;
  padding: 20px;
  min-height: 80dvh;
}

/* 로그인 박스 */
.login-wrapper {
  background: #333;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 400px;
  max-width: 90%;
  text-align: center;
  margin-top: 30px;
}

/* 제목 */
.login-wrapper h2 {
  color: #fff;
  font-size: 30px;
  margin-bottom: 20px;
}

/* 로그인 폼 */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* 입력 필드 스타일 */
.login-input {
  width: 95%;
  padding: 12px;
  margin: 8px 0;
  border-radius: 6px;
  border: 1px solid #555;
  background: #444;
  color: #fff;
  font-size: 20px;
}

/* 버튼 컨테이너 */
.login-buttons {
  display: flex;
  justify-content: space-between;
}

/* 오류 메시지 */
.error-message {
  color: red;
  font-size: 14px;
}

/* 공통 버튼 스타일 */
.common-button {
  width: 100%;
  height: 50px;
  color: white;
  background-color: #ff4757;
  font-size: 18px;
  font-weight: bold;
  border-radius: 6px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  border: none;
  cursor: pointer;
}

/* 버튼 hover 효과 */
.common-button:hover {
  background-color: #e63946;
  transform: translateY(-2px);
}

/* 회원가입 버튼 마진 조정 */
.signupbtn {
  margin-left: 30px;
}

hr {
  margin-top: 30px;
  margin-bottom: 30px;
}
