/* MusicSearch.css */
.music-search {
    padding: 10px;
    background-color: #282828;
    color: #fff;
    border-radius: 10px;
    width: 90%px;
}

.music-search form {
    display: flex;
    margin-bottom: 10px;
}

.music-search-placeholder {
    font-size: 0.7rem;
    text-align: center;
    margin-top: 100px;
    color: #b3b3b381;
}

.music-search-input {
    flex: 1;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
    padding: 10px;
    border-radius: 10px;
    background-color: #ffffffcc;
}

.music-search button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color:  #0b4a8518;
    color: #fff;
    cursor: pointer;
}

.music-search-results {
    min-height: 500px;
    margin-top: 5px;
    background-color: #0000001a;
   
    overflow-y: auto; /* 스크롤바 적용 */
}

.search-results {
    margin-top: 10px;
}

.track-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.track-item img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-right: 10px;
}

.track-info {
    flex: 1;
}

.track-info h4 {
    margin: 0;
    font-size: 1rem;
}

.track-info p {
    margin: 0;
    font-size: 0.8rem;
    color: #b3b3b3;
}

.track-item button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color:#1C1C8C;
    color: #fff;
    cursor: pointer;
}

.track-item button:hover {
    background-color: #1ed760;
}

.track-item button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.track-item button:disabled:hover {
    background-color: #cccccc;
}
.premium-play {
    background-color: #1DB954;
}

.premium-play:hover {
    background-color: #1ed760;
}

.premium-badge {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 5px 10px;
    background-color: #1DB954;
    color: white;
    border-radius: 15px;
    font-weight: bold;
}
.spotify-link {
    background-color: #1DB954;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.spotify-link:hover {
    background-color: #1ed760;
}