.grayBackground{
    background-color:rgb(37, 37, 37);
    height: 750px;
    width: 100%;
    margin-top: 35px;
}

/* 내 라이브러리 */
#libText{
    background-color: white;
    color: black;
    height:30px;
    width: 150px;
    text-justify: auto;
    margin: auto;
}
