.grayBackground{
    background-color:rgb(37, 37, 37);
    height: 750px;
    width: 90%;
    margin-top: 35px;
    margin-left: 5%;

}

/* 내 라이브러리 */
#libText{
    background-color:  #6666666e;
    color: white;
    text-justify: auto;
    border-radius: 10px; /* 둥근 모서리 추가 */
    padding: 5px;
    width: 300px;
    margin: auto;
}

.list{
    width: 80%;
    margin: auto;
    height: 10px;
    
}

.goCreateView{
width: 20%;
height: 5%;
margin-top: 10px;


}

.arraywithButton{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: auto;
    padding: 0 10% 0 0;
    gap: 20%;
}