/* PostForm.css */
.post-form {
    padding: 20px;
    background-color: #f2fff815;
    color: #000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: auto;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-actions {
    display: flex;
    justify-content: space-between;
}

.postform-submit-button,
.postform-cancel-button {
    background-color: #1db954;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.postform-submit-button:hover,
.postform-cancel-button:hover {
    background-color: #1ed760;
}

.postform-playlist-list-container {
    width: 100%;
    overflow-x: auto; /* 가로 스크롤 */
    margin-top: 10px;
}

.postform-playlist-list {
    padding: 50px 0;
    display: flex; /* 가로로 나열 */
    flex-wrap: nowrap; /* 줄바꿈 방지 */
    padding-bottom: 10px; /* 스크롤바 공간 확보 */
}

.postform-playlist-item {
    width: 150px; /* 아이템 너비 */
    margin-right: 10px; /* 아이템 간 간격 */
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.postform-playlist-item:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.postform-playlist-item.selected {
    border-color: blue;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.postform-playlist-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 5px;
}

.postform-playlist-info {
    font-size: 14px;
}