/* Layout.css */
.sidebar-layout-layout {
    display: flex;
    height: auto;
}

/* 사이드바 스타일 */
.sidebar-layout-sidebar {
    width: 250px;
    min-width: auto; /* ✅ 크기 강제 고정 해제 */
    background: #2c2c2c;
    padding: 10px;
}

/* 사이드바 스타일 */
.sidebar-layout-sidebar > div {
    margin : 10px 0;
}
.sidebar-layout-main-content {
    flex: 1;
    padding: 20px;
}