.create-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: rgb(37, 37, 37);
    height: 90%;
    width: 90%;
    margin: auto;
}
.grapCreateDate{
    display: flex;
    align-items: center; /* 수직 중앙 정렬 */
    gap: 10px;
}
.create-layout {
    display: flex;
    width: 100%;
}

.create-left {
    flex: 1;
    padding: 20px;
    border-right: 1px solid #ddd;
    width: 40%;
}

.create-right {
    flex: 1;
    padding: 20px;
    width: 40%;
    max-height: 40rem;
    overflow-y: scroll;
}

.playlist-info {
    margin-top: 20px;
}

.create_section,
.create_title_section,
.create_explain_section,
.create_section2 {
    margin-bottom: 20px;
}
.create_title_section{
    display: flex;
    align-items: center; /* 수직 중앙 정렬 */
    gap: 10px;
}
.create_explain_section{
    display: flex;
    align-items: center; /* 수직 중앙 정렬 */
    gap: 10px;
}
.fileinputBtn {
    margin-top: 10px;
}

.Edit_Btn {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    align-items: center;
}

.Edit_Btn .button{
    width: 20%;
}

.form-control{
    width: 65%;
}


.create_section2{
    margin-left: 50%;
}


#deleteBtnColor{
    background-color: #1C1C8C;
    color: white;
}