.playlist-detail-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.playlist-detail-header {
    text-align: center;
    margin-bottom: 20px;
}

.playlist-detail-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.playlist-detail-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playlist-detail-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}

.playlistPhoto {
    width: 100%;
    max-width: 300px;
    height: auto;
}

.list-track-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.playlist-tracks-container {
    display: flex;
    flex-direction: row;
}

.playlist-tracks {
    max-height: 300px; /* Adjust as needed */
    overflow-y: auto;
    flex: 1;
}

.playlist-tracks-editing {
    width: 50%;
    margin-right: 20px;
}

.music-search-container {
    width: 50%;
}