.playlist-detail-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.playlist-detail-header {
    text-align: center;
    margin-bottom: 20px;
}

.playlist-detail-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.playlist-detail-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playlist-detail-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}

.playlist-detail-photo {
    width: 100%;
    max-width: 150px;
    max-height: 150px;
    height: auto;
}

.list-track-item {
    display: flex;
    width: 95%;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.playlist-tracks-container {
    display: flex;
    flex-direction: row;
    width: 90%;
}

.playlist-tracks {
    max-height: 600px; /* Adjust as needed */
    overflow-y: auto;
    flex: 1;
}

.playlist-tracks-editing {
    width: 50%;
    margin-right: 20px;
}

.music-search-container {
    width: 50%;
}

.playlist-play-all-button{
    margin-bottom: 50px;
    padding: 10px 25px 15px;
    background-color: #1db954;
    color: white;
    font-size: 40px;
    border-radius: 20px;
}

.playlist-play-all-button:hover {
    background-color: #1ed760;
}

.playlist-detail-title-input{
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    border-bottom: 1px solid #1db954;
}

.playlist-detail-title{
    font-size: 20px;
    font-weight: bold;
    border: none;
}


.playlist-detail-playlistComment-input{
    padding: 10px;
    border-radius: 10px;
    border-bottom: 1px solid #1db954;
}

.playlist-update-track-remove-button{
    background-color: #ee3f09;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px 3px;
    margin-left: 10px;
}

.playlist-update-track-remove-button:hover{
    background-color: #b18027;
    cursor: pointer;
}