.ReadMoreList {
    padding: 20px;
    background-color: #f9f9f9;
    max-height: 90%;
}

.goCreateView {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.searchText {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    height:10px;

}

.searchText input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.searchText select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.list_lower {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    white-space: nowrap;
    max-height: 40rem;
    height: 90%;
    gap: 20px;
}