.ReadMoreList {
    padding: 20px;
    background-color: #6666666e;
    max-height: 2000px;
    max-width: 90%;
    margin: auto;
    margin-top: 1%;
}

.goCreateView {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.searchText {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:10px;
    margin: 0.5% 0 20px 1.5%;
}

.searchText input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.searchText select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.list_lower {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    white-space: nowrap;
    max-height: 1000px;
    height: 75%;
    gap: 20px;
}